@font-face {
    font-family: Mathlete Bulky;
    src: url("fonts/Mathlete-Bulky.eot?");
    src: url("fonts/Mathlete-Bulky.ttf")format('truetype');
}
@font-face {
    font-family: Raleway-Medium;
    src: url("fonts/Raleway-Medium.ttf") format('truetype');
}
@font-face {
    font-family: Raleway-Light;
    src: url("fonts/Raleway-Light.ttf") format('truetype');
}
body {
    margin:0;
    padding:0;
}
.animatedLogo {
    margin: auto;
    top: 15%;
    height: 400px;
    width: 400px;
    background-image: url("../images/jazz-black-no-wave.jpg");
    background-size: cover;
    position: relative;
}
.waves {
    width: 175px;
    height: 25px;
    background-size: cover;
    position: absolute;
}
.orange_wave{
    background-image: url("../images/orange-wav.jpg");
    top: 210px;
    left: 130px;
}
.blue_wave{
    background-image: url("../images/blue-wav.jpg");
    top: 240px;
    left: 130px;
}
.yellow_wave{
    background-image: url("../images/yellow-wav.jpg");
    top: 270px;
    left: 130px;
}
.darkContainer {
    height: 100vh;
    background-color: black;
}
.mainDate, .animatedDate {
    color: white;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 45px;
    margin-left: 50%;
    position: absolute;
    left: -170px;
    letter-spacing: 3px;
    margin-top: 0;
}
.contact-data {
    margin-left: 50%;
    left: -350px;
    position:absolute;
    bottom: 4%;
    font-family: Raleway-Light, sans-serif;
    color: white;
    letter-spacing: 3px;
}
.menu-wrapper {
    width: 1000px;
    margin:auto;
    padding-top: 12vh;
}
.lightContainer {
    height: 0;
    background-color: rgb(244, 244, 244);
    padding-top: 4.4%;
    padding-bottom: 4.5%;
}
.tilesContainer {
    margin:auto;
    margin-bottom: 70px;
    height: 660px;
    width: 996px;
    position:relative;
}
.tiles {
    /*-webkit-box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);*/
    /*-moz-box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);*/
    /*box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);*/
    background-color: white;
    position: absolute;
}
.tiles:hover {
    -webkit-box-shadow: 10px 20px 31px -4px rgba(8,8,8,0.27);
    -moz-box-shadow: 10px 20px 31px -4px rgba(8,8,8,0.27);
    box-shadow: 10px 20px 31px -4px rgba(8,8,8,0.27);
    cursor: pointer;
}

hr {
    width: 85%;
}

.big{
    margin:auto;
    top: 10px;
    height: 660px;
    width: 996px;
    -webkit-box-shadow: 28px 31px 31px 0px rgba(8,8,8,0.12);
    -moz-box-shadow: 28px 31px 31px 0px rgba(8,8,8,0.12);
    -shadow: 28px 31px 31px 0px rgba(8,8,8,0.12);
    background-color: white;
    padding: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
}
.big>h1 {
    font-family: Mathlete Bulky, sans-serif;
    font-size: 80px;
    margin-left: 7%;
}
.big h2 {
    font-family: Raleway-Light, sans-serif;
    font-size: 18px;
    margin-left: 7%;
}
.big p {
    font-family: Raleway-Light, sans-serif;
    line-height: 19px;
    font-size: 13px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
}

.about-img-small{
    position: absolute;
    top: 40px;
    left: 760px;
    height: 140px !important;
}
.about {
    height: 420px;
    width: 344px;
    top: 10px;
    cursor: pointer;
    border: solid 2px black;
}

.img-about {
    margin-left:-8px;
    height: 350px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about-nav {
    width: 100%;
    position:absolute;
    bottom: 0;
    color: white;
    height:80px;
    background-color: black;
    font-family: Raleway-Light, sans-serif;
    font-size: 20px;
    text-align: center;
}

.about-nav>p {
    padding-top: 25px;
    display: inline-block;
}

.about-text{
    font-family: Raleway-Medium, sans-serif;
}

h1.about-text{
    margin-top: 10px;
    width: 100%;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 60px;
    display: inline-block;
}

h2.about-text{
    width: 100%;
    font-family: Raleway-Light, sans-serif;
    font-size: 18px;
    margin-left: 7%;
}

p.about-text {
    font-family: Raleway-Light, sans-serif;
    line-height: 19px;
    font-size: 13px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
}

.reverted {
    transform: perspective( 400px ) rotateX(180deg);
}
.artists {
    cursor: pointer;
    background-color: white;
    border: solid 2px black;
    height: 195px;
    width: 621px;
    left: 354px;
    top: 10px;
    vertical-align: middle;
    color: black;
    background-image: url('../images/reilly2.jpg');
    transition:  .5s ease-out;
    -moz-transition:  .5s ease-out;
    -webkit-transition:  .5s ease-out;
    -o-transition:  .5s ease-out;
}

.artists:hover {
    background-image: url('../images/reilly1.jpg');
}
.artists>h1{
    text-align: center;
    margin-top: 20px;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 90px;
}
.artists>h2{
    text-align: center;
    margin-top: 10px;
    font-family: Raleway-Light, sans-serif;
    font-size: 20px;
}
.artists-img {
    margin-left: 7%;
    padding: 10px 0 10px;
    width: 86%;
}
.peterArrow {
    margin-left: 7%;
    margin-top: -88px;
    width: 86%;
    height: 0;
    cursor: pointer;
}

.reillyArrow {
    margin-left: 7%;
    margin-top: -88px;
    width: 86%;
    height: 0;
    cursor: pointer;
}

.tickets>h1, .events>h1 {
    text-align: center;
    margin-top: 20px;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 120px;

}

.tickets>h2, .events>h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Raleway-Light, sans-serif;
    font-size: 20px;
}

.events>h1 {
    margin-top: 130px;
    font-size: 90px;
}

.tickets {
    cursor: pointer;
    background-image: url('../images/shore2.jpg');
    background-size: cover;
    border: 2px solid black;
    height: 216px;
    width: 335px;
    left: 354px;
    top: 215px;
    vertical-align: middle;
    color: black;
    transition:  0.5s ease-out;
    -moz-transition:  0.5s ease-out;
    -webkit-transition:  0.5s ease-out;
    -o-transition:  0.5s ease-out;
}

.tickets:hover {
    background-image: url('../images/shore3.jpg');
}

.events {
    height: 444px;
    width: 277px;
    left: 699px;
    top: 215px;
    bottom: 30px;
    border: solid 2px black;
    background-image: url('../images/peterw.jpg');
    background-size: cover;
    transition:  .5s ease-out;
    -moz-transition:  .5s ease-out;
    -webkit-transition:  .5s ease-out;
    -o-transition:  .5s ease-out;
}

.events:hover{
    background-image: url('../images/peter1.jpg');
    cursor: pointer;
}

.contact-img{
    margin-top: 30px;
    margin-left: 115px;
    width: 170px;
}

.contact {
    background-image: url('../images/contact2.jpg');
    background-size: cover;
    border: solid 2px black;
    cursor: pointer;
    height: 216px;
    width: 335px;
    left: 354px;
    top: 441px;
    bottom: 30px;
    background-color: white;
    transition:  .5s ease-out;
    -moz-transition:  .5s ease-out;
    -webkit-transition:  .5s ease-out;
    -o-transition:  .5s ease-out;
}
.contact:hover {
    background-image: url('../images/contact1.jpg');
}
.contact-title {
    margin-top: 20px;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 120px;
}
.rotated {
    margin-top: 80px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position:absolute;
    margin-left: 5px;
    display: inline-block;
    color:black;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 60px;
}
.partners {
    cursor: pointer;
    height: 216px;
    width: 345px;
    top: 441px;
    bottom: 30px;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 60px;
    background-image: url('../images/piano3.jpg');
    background-size: cover;
    border: solid 2px black;
    transition:  .5s ease-out;
    -moz-transition:  .5s ease-out;
    -webkit-transition:  .5s ease-out;
    -o-transition:  .5s ease-out;
}

.partners:hover {
    background-image: url('../images/piano4.jpg');
}

.partners>h1{
    text-align: center;
    margin-top: 20px;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 120px;
    color: black;
;
}

.partners>h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Raleway-Light, sans-serif;
    font-size: 20px;
    color: black;

}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.click{
    -webkit-box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);
    -moz-box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);
    box-shadow: 18px 25px 31px -2px rgba(8,8,8,0.23);
}

.close {
    position: absolute;
    top: 20px;
    left: 935px;
    font-size: 16px;
    opacity:  0.7 !important;
    z-index: 999;
}

.close:hover {
    cursor: pointer;
    opacity:  0.9 !important;
}

.facebook-wrapper {
    position:fixed;
    right: -277px;
    top: 450px;
    margin-top: -320px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.facebook-wrapper:hover {
    right: 0;
}
.facebook-logo {
    background-image: url('../images/fblogo.png');
    height: 60px;
    width:60px;
    position: relative;
    top: 0;
    margin-left: -60px;
}
 iframe {
     margin-top: -56px;
 }

.footer {
    height: 0;
    background-color: rgb(255,255,255);
    /*border-top: solid 5px rgb(254, 207, 16);*/
    text-align: center;
    padding-top: 20px;
    font-family: Raleway-Medium, sans-serif ;
}



/*------------------------------Media queries--------------------------------------*/
@media screen and (min-width: 1600px){
    .animatedLogo {
        height: 470px;
        width: 470px;
    }
    .waves {
        width: 206px;
        height: 35px;
    }
    .orange_wave{
        top: 240px;
        left: 153px;
    }
    .blue_wave{
        top: 280px;
        left: 153px;
    }
    .yellow_wave{
        top: 315px;
        left: 153px;
    }
    .mainDate {
        font-size: 53px;
        left: -190px;
    }
}

@media screen and (max-width: 1050px){

    .menu-wrapper {
        width: 100%;
    }
    .contact-data {
        width: 300px;
        left: -150px;
        letter-spacing: 2px;
        margin-top: -18%;
        text-align: center;
    }
    .img-about {
        height:  100px;
        position:absolute;
        left: 50%;
        margin-left: -50px;
    }
    .tiles.about, .tiles.tickets, .contact.tiles, .artists.tiles, .partners.tiles, .events.tiles{
        left: 0px;
        position: relative;
        width:95vw;
        height: 200px;
        margin: 10px;
    }

    .fb_page, .fb_iframe_widget_fluid, .fb_iframe_widget{
        display: none !important;
    }

    .lightContainer, .tilesContainer {
        height: 100%;
        width: 100%;
    }

    .tickets, .contact, .partners, .events, .artists, .about {
        top: 0;
    }
    .tiles.big {
        position: relative;
        max-width: 90%;
        margin:auto;
        height: auto;
        z-index: 1;
    }
    .about-img-small{

       left: 70%;
    }

    .contact-title {
        left:55%;
    }
    .contact-img {
     margin-left: 20%;
    }
    .big>h1, .big>h2 {
        position: relative;
        top: 0;
        left: 7%;
        max-width: 55%;
    }

    .big>p {
        position: relative;
        margin-left: 7%;
    }

    .events>h1 {
        margin-top: 20px;
    }

    .close {
        position: relative;
        margin-top: 5px;
        margin-right: 5px;
        top:0;
        left: 0;
    }
    .animatedDate{
        left: auto !important;
        margin-left: auto;
        right: 2vw;
        font-size: 30px !important;
        top: 20px !important;
    }
}

@media screen and (max-width: 380px){
    .animatedLogo {
        height: 300px;
        width: 300px;
    }
    .waves {
        width: 128px;
        height: 20px;
    }
    .orange_wave{
        top: 153px;
        left: 100px;
    }
    .blue_wave{
        top: 177px;
        left: 100px;
    }
    .yellow_wave{
        top: 202px;
        left: 100px;
    }
    .mainDate {
        font-size: 29px;
        left: -120px;
        top: 70vh;
    }
    .animatedDate{
        left: auto !important;
        margin-left: 50%;
        right: 2vw;
        font-size: 30px !important;
        top: 0 !important;
    }
}
@media screen and (max-height: 680px){
    .animatedLogo {
        height: 300px;
        width: 300px;
    }
    .waves {
        width: 128px;
        height: 20px;
    }
    .orange_wave{
        top: 153px;
        left: 100px;
    }
    .blue_wave{
        top: 177px;
        left: 100px;
    }
    .yellow_wave{
        top: 202px;
        left: 100px;
    }
    .mainDate {
        font-size: 29px;
        left: -120px;
        top: 70vh;
    }
}
@media screen and (max-height: 460px){
    .animatedLogo {
        height: 200px;
        width: 200px;
    }
    .waves {
        width: 90px;
        height: 12px;
    }
    .orange_wave{
        top: 103px;
        left: 65px;
    }
    .blue_wave{
        top: 117px;
        left: 65px;
    }
    .yellow_wave{
        top: 130px;
        left: 65px;
    }
    .mainDate {
        font-size: 18px;
        left: -90px;
        /*top: 200px;*/
    }
}