@font-face {
    font-family: Mathlete Bulky;
    src: url("fonts/Mathlete-Bulky.eot?");
    src: url("fonts/Mathlete-Bulky.ttf")format('truetype');
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url("fonts/Raleway-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: Raleway-Light;
    src: url("fonts/Raleway-Light.ttf") format('truetype');
}
@font-face {
    font-family: Raleway-Regular;
    src: url("fonts/Raleway-Regular.ttf") format('truetype');
}
body {
    margin:0;
    padding:0;
    overflow-y: scroll;
}
.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
a{
    color: black !important;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: black !important;
    text-decoration: none !important;
}
/*----------------------------LOGO------------------------------*/
.animatedLogo {
    margin: auto;
    top: 15%;
    height: 400px;
    width: 400px;
    background-image: url("../images/jazz-black-no-wave.jpg");
    background-size: cover;
    position: relative;
}
.animatedLogo:hover {
    cursor: pointer;
}

.waves {
    width: 175px;
    height: 25px;
    background-size: cover;
    position: absolute;
}
.orange_wave{
    background-image: url("../images/orange-wav.jpg");
    top: 210px;
    left: 130px;
}

.blue_wave{
    background-image: url("../images/blue-wav.jpg");
    top: 240px;
    left: 130px;
}

.yellow_wave{
    background-image: url("../images/yellow-wav.jpg");
    top: 270px;
    left: 130px;
}

.darkContainer {
    height: 90vh;
    background-color: black;
}

.mainDate, .animatedDate {
    color: white;
    font-family: Mathlete Bulky, sans-serif;
    font-size: 45px;
    margin-left: 50%;
    position: absolute;
    left: -170px;
    letter-spacing: 3px;
    margin-top: -40px;
}

.contact-data {
    margin-left: 50%;
    left: -110px;
    position:absolute;
    bottom: 20%;
    font-family: Raleway-Light, sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 4px;
    border: solid 1px rgba(255, 255, 255, 0.7);
    padding: 20px 40px;
}
.contact-data p {
    margin: 0;
}
.contact-data:hover {
    cursor: pointer;
    color: white;
}

.menu-wrapper {
    width: 1000px;
    margin:auto;
    padding-top: 12vh;
}
.logoAnimatedSmall:hover{
    cursor:pointer;
}
/*----------------------------KONTENER Z KAFELKAMI I KAFELKI------------------------------*/
.lightContainer {
    height: 0;
    background-color: rgb(244, 244, 244);
    padding-top: 4.4%;
    padding-bottom: 4.5%;
}
.tilesContainer {
    margin:auto;
    height: 660px;
    width: 996px;
    position:relative;
}

footer {
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: Raleway-Light, sans-serif;
}
/*------------------------------Media queries--------------------------------------*/
@media screen and (min-width: 1600px){
    .animatedLogo {
        height: 470px;
        width: 470px;
    }
    .waves {
        width: 206px;
        height: 35px;
    }
    .orange_wave{
        top: 240px;
        left: 153px;
    }

    .blue_wave{
        top: 280px;
        left: 153px;
    }
    .yellow_wave{
        top: 315px;
        left: 153px;
    }
    .mainDate {
        font-size: 52px;
        left: -190px;
    }
}

@media screen and (max-width: 1050px){
    .menu-wrapper {
        width: 100%;
    }

    .lightContainer, .tilesContainer {
        min-height: 100%;
        height:auto;
        width: 100%;
    }

    .tilesContainer {
        height:1350px;
    }

    .animatedDate{
        left: auto !important;
        margin-left: auto;
        right: 2vw;
        font-size: 30px !important;
        top: 20px !important;
    }
}

@media screen and (max-width: 380px){
    .body{
        overflow: hidden;
    }
    .animatedLogo {
        height: 300px;
        width: 300px;
    }
    .waves {
        width: 128px;
        height: 20px;
    }
    .orange_wave{
        top: 153px;
        left: 100px;
    }
    .blue_wave{
        top: 177px;
        left: 100px;
    }
    .yellow_wave{
        top: 202px;
        left: 100px;
    }
    .mainDate {
        font-size: 29px;
        left: -120px;
        top: 70vh;
    }
    .animatedDate{
        left: auto !important;
        margin-left: 50%;
        right: 2vw;
        font-size: 30px !important;
        top: 0 !important;
    }
}
@media screen and (max-height: 850px){
    .animatedLogo {
        height: 300px;
        width: 300px;
    }
    .waves {
        width: 128px;
        height: 20px;
    }
    .orange_wave{
        top: 153px;
        left: 100px;
    }
    .blue_wave{
        top: 177px;
        left: 100px;
    }
    .yellow_wave{
        top: 202px;
        left: 100px;
    }
    .mainDate {
        font-size: 29px;
        left: -120px;
        margin-top:-20px;
    }

    .contact-data {
        bottom: 15%;
        left: -60px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 2px;
        border: solid 1px rgba(255, 255, 255, 0.7);
        padding: 10px 20px;
    }
    footer {
        padding-top:0;
    }
    .menu-wrapper{
        padding-top: 8vh;
    }
    }
@media screen and (max-height: 540px){
    .animatedLogo {
        height: 200px;
        width: 200px;
    }
    .waves {
        width: 90px;
        height: 12px;
    }
    .orange_wave{
        top: 103px;
        left: 65px;
    }
    .blue_wave{
        top: 117px;
        left: 65px;
    }
    .yellow_wave{
        top: 130px;
        left: 65px;
    }
    .mainDate {
        font-size: 18px;
        left: -90px;
    }
    .contact-data {
        /*bottom: 13%;*/
        left: -60px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);
        letter-spacing: 2px;
        border: solid 1px rgba(255, 255, 255, 0.7);
        padding: 10px 20px;

    }
}